        <div class="loading-ajax">
            <span class="sirv-loading-icon"></span>
        </div>
        <div class="content">
            <div class="selection-content">

                <div class="sirv-items-container">
                    <div class="nav">
                        <h1>Sirv Media Library</h1> 
                        <ol class="breadcrumb">
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                    <div class="media-tools-panel">
                        

                        <div class="toolbar-container">
                            <div class="sirv-account-text">Go to <a href="https://my.sirv.com/#/browse/">your Sirv account</a> to edit, move or delete files.</div>
                            <b class="toolbar-container-title">Upload images</b>
                            <div id="drug-upload-area">                               
                                
                                <span class="drug-text">
                                    Drop files here<br/>or<br/>
                                    <div class="btn btn-success fileinput-button">
                                        <span>Upload images...</span>
                                        <input id="filesToUpload" data-current-folder="/" type="file" name="files[]" multiple="">
                                    </div>
                                </span>
                                
                            </div>
                        </div>
                                        


<!--                         <div class="toolbar-container pull-left">
                        <div class="btn btn-success delete-all">
                            <span>Delete all images in folder</span>
                        </div>
                        </div>
 -->                        
                        <div class="clearfix"></div>
                    </div>
                    <div class="sub-toolbar">


                            
                        <div class="sirv-search-container">
                            <div class="btn btn-success sirv-search">
                                <span>Search</span>
                            </div>
                            <input id="sirv-search-field" style="width: 60%;" type="text"  class="strech" placeholder="Search in current folder" value="" />
                            <div id="sirv-search-field-btn" class="btn btn-success">
                                <span>Search</span>
                            </div>
                        </div>

                        <div class="sirv-newfolder-container">
                        
                        <div class="btn btn-success create-folder">
                            <span>New folder...</span>
                        </div>
                        </div>
                        

                        <div class="clearfix"></div>
                    </div>
                    <div class="sirv-dirs">
                        <ul class="items-list" id="dirs"></ul>
                    </div>
                    <div class="sirv-spins">
                        <ul class="items-list" id="spins"></ul>
                    </div>
                    <div class="sirv-images">
                        <ul class="items-list" id="images"></ul>
                    </div>
                </div>
                <div class="selected-images">
                    <div class="selected-images-container">
                    <div class="selection-info">
                        <span class="count"> 1 selected</span>
                        <a class="clear-selection" href="#">Clear</a>
                    </div>
                    <div class="selection-view">
                        <ul class="selected-miniatures-container">
                            <!-- <li class="selected-miniature">
                                <img "selected-miniature-img" src="" />
                            </li> -->
                        </ul>
                    </div>
                    <div class="buttons-container">
                        <div class="delete-selected-images">
                            <div class="btn btn-success delete-selected">
                                <span>Delete selected</span>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>